[Unit]
Description=Check ForceHD VST executable mount

[Timer]
OnBootSec=5s
OnUnitInactiveSec=5s
AccuracySec=1s
Unit=force-vst-exec.service

[Install]
WantedBy=timers.target
