[Unit]
Description=ForceHD VST Exec bootstrap after writable etc
Requires=etc.mount
After=etc.mount

[Service]
Type=oneshot
ExecStart=/bin/sh /etc/force-vst-exec/bootstrap.sh
RemainAfterExit=yes
TimeoutStartSec=15
PrivateMounts=no
